
* {
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("img/Linesblue.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Zasline, 'Times New Roman', Times, serif;
    src: url(misc/Zasline.otf);
  }

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: white;
    filter: drop-shadow(0px 4px 10px rgba(78, 87, 121, 0.3));
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
}

img {
    max-width: 130%;
    max-height: 130%;
    
}

a {
    text-decoration: none;
}

hero .left {
    width: 50%;
    padding-top: 5%;
}


hero .right {
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}

.right img {
    filter: drop-shadow(0px 4px 10px rgba(78, 87, 121, 0.3));
    width: 80%;
    position: relative;
    object-fit: cover;
}

.right .shadow-img {
    box-shadow: 20px -20px 0px rgba(78, 87, 121, 0.7);
}

hero {
    display:flex;
    flex-direction: row;
    padding: 5%;

}

h1 {
    font-family: Zasline;
    font-size: 5vw;
    font-weight: 100;
    text-decoration: underline;
    margin: 5% 0% 5% 0%;
}

h2 {
    font-family: Zasline;
    color: #4E5779;
    font-size: 32px;
}

.nav a {
    font-family: Zasline, 'Times New Roman', Times, serif;
    font-size: 24px;
    flex-shrink: 0;
}

.nav {
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;

}

h3 {
    font-family: Zasline;
    color: #4E5779;
    font-size: 24px;
}

a {
    color: #4E5779;
}

Ol {
    font-family: Zasline;
    color: #4E5779;
    font-size: 24px;
    margin-top: 2em;
}

li {
    margin: 6px;
}

header a:hover { 
    transition-duration: 0.4s;
    text-decoration: none; 
    color: #48B5FF; 
   }

.Button {
    box-sizing: border-box;
    display: flex;
    border-style: solid;
    border-color:rgba(78, 87, 121);
    border-width: 4px;
    width: 100%;
    height: 5em;
    border-radius: 24px;
    transition-duration: 0.4s;
    margin-bottom: 4em;
    color: #4E5779;
}

.Button p {
    text-align: center;
    justify-self: center;
    margin: auto;
    font-size: 24px;
    font-family: Zasline;
}

.Button:hover {
    background-color:rgba(78, 87, 121);
    color: white;
    border-style: solid;
    border-radius: 24px;
    border-color: rgba(78, 87, 121);
}

.left > p {
    font-size: 24px;
}

.project-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    gap: 7%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;

}

.project-container div {
    max-width: 470px;
}

.project-container div img {
    max-width: 100%;
    filter: drop-shadow(0px 4px 10px rgba(78, 87, 121, 0.3));

}

#projects-title {
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 10%;
}

main h2 {
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 10%;

}

.projects-text {
    margin-top: 10%;
    text-overflow: clip;
    text-overflow: ellipsis ellipsis;
    text-overflow: ellipsis " [..]";
}

.left .Button  {
    margin-top: 4em;
}

p {
    font-family: 'Poppins', sans-serif;
}

.projects-text > p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    height: 300px;
}


footer {
    background-image: url(img/Footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15em;
    height: 500px;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 240px;
    justify-content: space-around;
    width: 400px;
}

footer h1 {
    color: white;
    padding: 10px;
    margin-top: 40px;
}

footer h2 {
    color: white;
    padding: 10px; 
}

footer h3 {
    color: white;
    padding: 10px;
}

/* inside projects.html  */


@media (max-width: 850px) {

    hero {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        }
    
        hero .left {
        width: 100%;
        }
    
        hero .right {
            width: 100%;
            padding: 0%;
            justify-content: center;
        }
    
    body {
        background-image: url("img/Linesblue.svg");
        background-repeat: no-repeat;
        background-size: 700%;
        background-position: center;
    }

    h3 {
        font-size: 24px;
    }

    h1 {
        font-size: 48px;
        margin-top: 10px;
    }

    .nav a {
        font-size: 16px;
    }

    header {
        height: 15%;
    }

    .right {
        display: flex;
        margin: 0;
        padding: 0px;
        justify-content: center;
    }

    .nav {
        margin-right: 0;
        padding: 5%;
        font-size: 16px;
    }

    .right img {
        margin: 0;
        margin-top: 15%;
        width: 300px;
        align-self: center;
        display: flex;
    }

  .Button {
        font-size: 12px;
        width: 100%;

    }

  .project-container {
        flex-direction: column;
        justify-content: center;
        display: flex;
        box-sizing: border-box;

    }
    .project-container div {
        align-self: center;
    }
    .project-container div img {
        width: 100%;
      }

    footer {
        padding-top: 25%;
        flex-direction: column;
    }
    .links {
        justify-content: space-around;
        padding-top: 0px;
        width: 100%;
    }

    p {
        padding-left: 5%;
        padding-right: 5%;

    }

}